[Unit]
Description=Auto change the wallpapers
After=network.target sound.target

[Service]
Environment=DISPLAY=:0
# Change path to where you put the beautify.py executable and your wallpapers collection path and duration as well.
ExecStart=/home/ak/bin/beautify /home/ak/pix/wall/collection 300
Restart=always

[Install]
WantedBy=default.target
